# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/

# Virtual environments
.venv/
venv/
env/

# IDE
.idea/
.vscode/

# Local environment
.env

# Databases
*.db
*.sqlite
*.sqlite3

# OS files
.DS_Store
Thumbs.db

.idea/
.vscode/